<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <link rel="stylesheet"  type="text/css"  href="/stylesheets/admin.css">
    <script src="/javascripts/jquery-3.0.0.js" ></script>
    <script src="/javascripts/admin.js" ></script>
</head>
<body>
<div class="home_navigation">
    <p class="head_line"> pos机后台管理系统</p>
</div>
<div class="page_content">
    <div class="left_nevigation">
        <button class="shopping_manage" onclick="replace_info()">商品管理</button>
        <button class="discount_activity">折扣活动</button>
    </div>
    <div class="shopping_manage_info">
        <p class="manage_info_title">商品信息管理</p>
        <a href="add_admin"><button class="add_shopping_info">添加商品</button></a>
        <table class="shopping_list">
            <tr class="shopping_list_head">
                <th>序号</th>
                <th>商品名称</th>
                <th>商品数量</th>
                <th>单价（元）</th>
                <th>单位</th>
                <th>发布时间</th>
                <th>操作</th>
            </tr>
            <% for(var index=adds.length-1;index>0;index--) { %>
            <% if(adds.length-index <=2) { %>
            <tr class='shopping_items_list' id="<%= index%>">
                <td><%= adds.length-index %></td>
                <form method="post" >
                <td><input type="text" name="name" class="shopping_name" value="<%= adds[index].name %>" onfocus=this.blur() ></td>
                <td>
                    <input type="submit" class="reduce_count" value="-"><input type="text" name="count" class="amount"  value=" <%= adds[index].count %> "><input type="submit" class="add_count" value="+" >
                </td>
                </form>
                <td><%= adds[index].price %></td>
                <td><%= adds[index].unit %></td>
                <td>time</td>
                <td><a class=" show-layer" data-show-layer="a<%= adds[index].name %>" role="button">删除</a></td>
            </tr>
            <% } %>
            <% } %>
        </table>
    </div>
    <% for(var index=adds.length-1;index>0;index--) { %>
    <div class="hw-overlay" id="a<%= adds[index].name %>">
        <div class="hw-layer-wrap">
            <span class=" hwLayer-close">x</span>
            <div class="row">
                <div class="col-md-9 col-sm-12">

                    <form  method="post">
                    <h4>你确定删除<%= adds[index].name %>吗？</h4>
                    <p>删除会有好运的哦！</p>
                        <input hidden type="text" name="name" value="<%= adds[index].name %>" >
                        <input type="submit" class=" hwLayer-ok" value="确 定" >
                    </form>

                    <button class=" hwLayer-cancel" id="sound">取 消</button>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <div  id="s">
        <%= JSON.stringify(adds) %>
    </div>
</div>
</body>
</html>
